TryTravel2gether.xcodeproj/project.xcworkspace/xcshareddata/
TryTravel2gether.xcodeproj/project.xcworkspace/xcuserdata/YICHUN.xcuserdatad/UserInterfaceState.xcuserstate
TryTravel2gether.xcodeproj/project.xcworkspace/xcuserdata/YICHUN.xcuserdatad/xcdebugger/
TryTravel2gether.xcodeproj/xcuserdata/YICHUN.xcuserdatad/xcdebugger/
*.xccheckout
