<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>currencyName</key>
		<string>新臺幣</string>
		<key>currencySign</key>
		<string>$</string>
		<key>currencyStandardSign</key>
		<string>TWD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>日元</string>
		<key>currencySign</key>
		<string>¥</string>
		<key>currencyStandardSign</key>
		<string>JPY</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>美金</string>
		<key>currencySign</key>
		<string>$</string>
		<key>currencyStandardSign</key>
		<string>USD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>港幣</string>
		<key>currencySign</key>
		<string>$</string>
		<key>currencyStandardSign</key>
		<string>HKD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>英鎊</string>
		<key>currencySign</key>
		<string>£</string>
		<key>currencyStandardSign</key>
		<string>GBP</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>澳幣</string>
		<key>currencySign</key>
		<string>$</string>
		<key>currencyStandardSign</key>
		<string>AUD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>加拿大幣</string>
		<key>currencySign</key>
		<string>$</string>
		<key>currencyStandardSign</key>
		<string>CAD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>新加坡幣</string>
		<key>currencySign</key>
		<string>$</string>
		<key>currencyStandardSign</key>
		<string>SGD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>瑞士法郎</string>
		<key>currencySign</key>
		<string>Fr</string>
		<key>currencyStandardSign</key>
		<string>CHF</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>南非幣</string>
		<key>currencySign</key>
		<string>R</string>
		<key>currencyStandardSign</key>
		<string>ZAR</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>瑞典幣</string>
		<key>currencySign</key>
		<string>kr</string>
		<key>currencyStandardSign</key>
		<string>SEK</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>紐西蘭幣</string>
		<key>currencySign</key>
		<string>$</string>
		<key>currencyStandardSign</key>
		<string>NZD</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>泰幣</string>
		<key>currencySign</key>
		<string>฿</string>
		<key>currencyStandardSign</key>
		<string>THB</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>菲律賓披索</string>
		<key>currencySign</key>
		<string>₱</string>
		<key>currencyStandardSign</key>
		<string>PHP</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>印尼幣</string>
		<key>currencySign</key>
		<string>Rp</string>
		<key>currencyStandardSign</key>
		<string>IDR</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>歐元</string>
		<key>currencySign</key>
		<string>€</string>
		<key>currencyStandardSign</key>
		<string>EUR</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>韓元</string>
		<key>currencySign</key>
		<string>₩</string>
		<key>currencyStandardSign</key>
		<string>KRW</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>越南盾</string>
		<key>currencySign</key>
		<string>₫</string>
		<key>currencyStandardSign</key>
		<string>VND</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>馬來幣</string>
		<key>currencySign</key>
		<string>RM</string>
		<key>currencyStandardSign</key>
		<string>MYR</string>
	</dict>
	<dict>
		<key>currencyName</key>
		<string>人民幣</string>
		<key>currencySign</key>
		<string>元</string>
		<key>currencyStandardSign</key>
		<string>CNY</string>
	</dict>
</array>
</plist>
