<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>payWayName</key>
		<string>現金</string>
	</dict>
	<dict>
		<key>payWayName</key>
		<string>刷卡</string>
	</dict>
	<dict>
		<key>payWayName</key>
		<string>旅行支票</string>
	</dict>
</array>
</plist>
